
#jotform-logo-navbar{
    width: auto;
    height: 100px;
}
.nav-link{
    color:#0C174E;
    font-size: 18px;
    font-weight: 400;
}
.dropdown-menu {
    display: none;
    position: absolute;
    left: 10;
    width: 600px; /* Dropdown genişliği */
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

@media (max-width: 768px) {
    .dropdown-menu{
    width: 300px; 
}}
.dropdown-menu.show {
    display: block;
  }
  
.dropdown-grid {
    display: flex; /* Menü sütunlarını yan yana yerleştirir */
    justify-content:space-around;
  }
  
.dropdown-grid h6 {
    font-size: 16px;
    margin-bottom: 10px;
    color:blue;
  }
  
.dropdown-grid ul {
    list-style-type: none;
    padding: 0;
  }
  
.dropdown-grid ul li {
    margin-bottom: 8px;
    color:rgb(76, 74, 74);
  }
.dropdown-grid ul li:hover {
    color:blue;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px;
  }
  
.dropdown-item:hover {
    background-color: #f7f7f7;
  }

.navbar-toggler {
    padding: 0.25rem 0.5rem;  
    font-size: 0.8rem;       
    border: none;  
  }

.navbar-toggler-icon {
    width: 20px;   
    height: 25px;  
    margin:0 auto ;
  }
.navbar-signup-button{
    background-color: #E15600;
    color: white;
}
.mobile-navbar {
  padding: 10px;
  background-color: #f8f9fa; /* Hafif gri arka plan */
}
.mobile-navbar a {
  text-decoration: none;
  color: #007bff;
}
.mobile-navbar a:hover {
  text-decoration: underline;
}
.accordion-login-button{
  width: 45%;
  height: auto;
  margin-right: 12px;
  margin-top: 10px;
  border: 1px solid black;
}
.accordion-signup-button{
  width: 45%;
  height: auto;
  margin-top: 10px;
  margin-left: 12px;
  background-color: #0C174E;
  color: white;
}