.text-col{
    text-align: center;
    margin-top: 50px;
    color: white;
}
.signup-p{
    color:#A6ABC6;
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
}
.signup-h1{
    margin-top: 50px;
}